/* shared text */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;

}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 45px;


}

nav a {
    text-decoration: none;
}

/* Header related style */
.header {
    background-color: whitesmoke;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner1 {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 500px;

}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: wheat;
    margin: 130px;
}

.section-title {
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

.resume-container {
    display: flex;
}